<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xd.pre.modules.alarm.mapper.IotAlarmConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xd.pre.modules.alarm.domain.IotAlarmConfig">
        <id column="config_id" property="configId" />
        <result column="name" property="name" />
        <result column="fence_id" property="fenceId" />
        <result column="device_id" property="deviceId" />
        <result column="device_type" property="deviceType" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="tenant_id" property="tenantId" />
        <result column="valid_time" property="validTime" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <association property="fenceInfo" javaType="com.xd.pre.modules.fence.dto.IotFenceDTO">
            <id column="fence_id" property="id" />
            <result column="fence_name" property="name" />
            <result column="fence" property="fence" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        </association>
    </resultMap>

    <select id="getAlarmConfigPage" resultMap="BaseResultMap">
        select
            c.config_id,
            c.name,
            c.fence_id,
            f.id as fence_id,
            f.name as fence_name,
            f.fence,
            c.device_id,
            c.device_type,
            c.valid_time,
            c.create_time,
            c.update_time
          from iot_alarm_config c
        left join iot_fence f
          on c.fence_id = f.id
    </select>

</mapper>
