<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xd.pre.modules.alarm.mapper.IotAlarmConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xd.pre.modules.alarm.domain.IotAlarmConfig">
        <id column="config_id" property="configId" />
        <result column="name" property="name" />
        <result column="fence_id" property="fenceId" />
        <result column="device_id" property="deviceId" />
        <result column="device_type" property="deviceType" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="tenant_id" property="tenantId" />
        <result column="valid_time" property="validTime" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
    </resultMap>

</mapper>
